body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    margin: 0;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    padding: 32px;
}