body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.testimonial {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-container {
    max-width: 500px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.testimonial-container-text {
    font-size: 36px;
    font-style: italic;
    text-align: center;
    flex: 1 1 auto;
}

.testimonial-footer {
    font-weight: bold;
    text-align: right;
    flex: 1 1 auto;
    align-self: flex-end;
}

button, .sign-up-box {
    background-color: #3882f6;
    color: #E5E7EB;
}

.sign-up-box,.sign-up-container {
    padding: 48px;
}

.sign-up-box {
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.sign-up-text {
    display: flex;
    flex-direction: column;
}

.sign-up-text-header {
    font-size: 24px;
    font-weight: bold;
}

button {
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 0px 32px;
    font-weight: bold;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    margin: 0;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    padding: 32px;
}